*{
    background-color: rgb(0, 255, 255);
    font-family: sans-serif;
}

h1{
    text-align: center;
    background-color: red;
    color: aqua;
}
h2{
    text-align: center;
    background-color: red;
    color: aqua;
    padding: 0;
    margin: 0;
}

#containerIn{
    height: 400px;
    width: 40%;
    margin-left: 150px;
    padding: 5px;
    border-style: solid;
    border-radius: 5px;
    border-color: #0714d4;
    float: left;
}

#containerOut{
    height: 400px;
    width: 30%;
    padding: 5px;
    margin-right: 10%;
    border-style: solid;
    border-radius: 5px;
    border-color: #0715e0;
    float: right;
    overflow-y: scroll;
}

.divIn{
    width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.labels{
    float: left;
}

.in{
    margin-left: 20px;
    width: 60%;
}

.inrad{
    margin-left: 20px;
}

.inchk{
    margin-left: 20px;
}

.btns{
    height: 30px;
    width: 80px;
    margin-top: 30px;
    margin-left: 70px;
    background-color: #E5E5E5;
    border-radius: 5px;
    font-weight: 400;
}

#btnSubmit:hover{
    color: #E5E5E5;
    background-color: green;
    cursor: pointer;
}

#btnReset:hover{
    color: #E5E5E5;
    background-color: red;
    cursor: pointer;
}

.name{
    font-size: 30px;
    font-weight: 400;
}

.others{
    font-size: 20px;
}